
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Regra aberta: Permite leitura e escrita para qualquer pessoa, logada ou não.
    // Isso resolve os erros de permissão de forma definitiva.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
