rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que qualquer pessoa (autenticada ou não) envie documentos
    // para a pasta específica de um cliente. A leitura ainda é protegida.
    match /clients/{clientId}/documents/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if true;
    }
  }
}
